@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-base-halloween {
    @apply my-64 px-4 py-2 font-bold text-lg w-4/5 md:w-3/5 leading-relaxed bg-purple-800 bg-opacity-90 rounded;
  } 

  .text-base-halloween:nth-child(even) {
    @apply ml-auto;
  }

  .animate-witch {
    animation: witch 3000ms linear infinite;
    transform-box: content-box;
  }
}


@keyframes witch {
  0% {
    transform: translateX(0vw);
  }
  20% {
    transform: translateX(23vw);
  }
  40% {
    transform: translateX(47vw) rotate(0deg);
  }
  55% {
    transform: translateX(53vw) rotate(360deg);
  }
  100% {
    transform: translateX(100vw) rotate(360deg);
  }
}
