@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-base-halloween {
    @apply my-20vh md:my-64 px-4 py-2 font-bold text-lg w-4/5 md:w-3/5 leading-relaxed bg-purple-800 bg-opacity-90 rounded;
  } 

  .text-base-halloween:nth-child(even) {
    @apply ml-auto;
  }

  .text-vertical {
    writing-mode: vertical-rl;
    text-orientation: upright;
  }

  .animate-witch {
    animation: witch 3000ms linear infinite;
  }

  .animate-arrow-down {
    animation: scrollArrow 2500ms ease-in-out infinite;
  }
}


@keyframes witch {
  0% {
    transform: translateX(0vw);
  }
  20% {
    transform: translateX(23vw);
  }
  40% {
    transform: translateX(47vw) rotate(0deg);
  }
  55% {
    transform: translateX(53vw) rotate(360deg);
  }
  100% {
    transform: translateX(100vw) rotate(360deg);
  }
}

@keyframes scrollArrow {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
    opacity: 1;

  }
  100% {
    transform: translateY(3rem);
    opacity: 0;
  }
}
